pyobjc
pyobjc-framework-Cocoa
python-dotenv
pvcobra
pvporcupine
sounddevice
numpy
SpeechRecognition
pyaudio
pyttsx3
gtts
playsound
SpeechRecognition
python-gitlab
pandas
langchain_openai
langchain_community
langchain_core
langgraph
langchain
faiss-cpu